@import "/src/main.scss";

.about {
    padding  : 1rem 0rem;
    display  : flex;
    flex-wrap: wrap;
    margin: 0 auto;
    @media screen and (min-width:1500px) {
       width: 1500px; 
    }

    >div {
        width  : 50%;
        padding: 0 2em;

        @media screen and (max-width:576px) {
            width  : 100%;
            padding: 0 1em;
        }
    }

    h4 {
        line-height: 3;
    }

    p {
        line-height: 1.5;
    }

    a {
        color: red;
    }
}