<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TEDxfutian</title>
    <link rel="icon" href="http://www.tedxfutian.com/wp-content/uploads/2018/06/favicon-.ico" type="image/x-icon">
</head>

<body>
    <%= require("/src/components/header/header.ejs")() %>
        <section class="about">
            <div>
                <h4>SPEAKER/讲者组</h4>
                <div class="content">
                    <p>如果您的观点是独特的，能让人获得启发的，并且你在观点领域内有经历有研究，有具体可信的案例支撑，那么您有可能会成为我们的潜在讲者，站在TEDxFutian 的舞台分享18分钟的演讲。</p>
                    <p>潜在讲者或讲者推荐请联系：<br /><a href="">speaker@tedxfutian.com</a></p>
                </div>
            </div>
            <div>
                <h4>PARTNER/合作伙伴</h4>
                <div class="content">
                    <p>我们将合作伙伴视为社区内重要的组成部分，我们希望能够凝聚有相同价值观的品牌方和媒体，共同促进深圳的发展，让思想点亮这个城市。</p>
                    <p>场地，餐饮，物料，设备及资金赞助，请联系：
                        <br /><a href="">partner@tedxfutian.com</a>
                    </p>
                </div>
            </div>
            <div>
                <h4>VOLUNTEER/志愿者</h4>
                <div class="content">
                    <p>我们是喜欢TED、TEDx,或曾经被TED 改变，相信“Ideas worth spreading”的一群人，我们聚在一起，不为利益的做着一件很酷的事情。</p>
                    <p>我们分为【讲者组/活动组/商务合作/推广组/制作组】，如果你也希望成为志愿者的一员，请将简历和想参与的组别发送至： <br /><a
                            href="">volunteer@tedxfutian.com</a></p>
                </div>
            </div>
            <div>
                <h4>MEDIA PARTNER/媒体合作</h4>
                <div class="content">
                    <p>MEDIA PARTNER/媒体合作</p>
                    <p>我们希望能够凝聚相同价值观的媒体合作伙伴，最大化地传播好的观点，真正的为这个社区带来积极的改变。</p>
                    <p>我们会为我们的媒体合作伙伴提供：</p>
                    <p>1）优质的活动内容及近距离接触讲者的机会；</p>
                    <p>2）大会的媒体席位；</p>
                    <p>3）及时的活动照片及讲者演讲视频。</p>
                    <p>推广合作请联系：<br /><a href="">media@tedxfutian.com</a></p>
                </div>
            </div>
        </section>
       <%= require("/src/components/footer/footer.ejs")() %> 
</body>

</html>