@import '/src/main.scss';

header {
    .bg-dark {
        background-color: #000 !important;
    }

    .navbar {
        padding-top   : 0;
        padding-bottom: 0;

        .navbar-brand {
            padding: 0;
        }
    }
}

.imglist {
    .card {
        overflow  : hidden;
        transition: .5s;

        img {
            width     : 100%;
            transition: .5s;
        }

        .card-img-overlay {
            display         : flex;
            align-items     : center;
            justify-content : center;
            background-color: hsla(0, 0, 0, 0);
            transition      : .5s;

            .card-title {
                color  : #fff;
                opacity: 0;
                transition: opacity .5s;
            }

        }

        &:hover {
            .card-img-overlay {
                background-color: hsla(0, 0, 0, .7);
                .card-title{
                    opacity: 1;
                }
            }

            img {
                transform: scale(1.1);
            }
        }
    }


}