<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="icon" href="http://www.tedxfutian.com/wp-content/uploads/2018/06/favicon-.ico" type="image/x-icon">
</head>

<body>
    <%=  require("/src/components/header/header.ejs"); %>

    <%=  require("/src/components/footer/footer.ejs"); %>
</body>

</html>