<footer class="page-footer">
    <!-- <div class="contaniner"> -->
    <div class="left">
        <p>© Copyright 2018 TedxFutian All rights reserved tedxfutian.com.</p>
        <p>网站备案<a href="">网站备案粤ICP备17159193号-2</a></p>
    </div>
    <div class="right">
        <img src="http://www.tedxfutian.com/wp-content/uploads/2018/06/weixin.jpg" alt="">
        <a href="https://weibo.com/tedxfutian"><img src="http://www.tedxfutian.com/wp-content/uploads/2018/06/weibo.jpg"
                alt=""></a>
    </div>
</footer>