@import "../../main.scss";

.videosection {
    width           : 100%;
    background-color: $color-white;
    border-bottom   : 1px solid $color-semi;
    padding: 2%;

    .header {
        margin-bottom: 20px;

        h2 {
            color      : $color-semi;
            text-align : center;
            line-height: 2;
        }

        p {
            text-align: center;
            color     : $color-gray;
        }

    }

    .videolist {
        width          : 100%;
        display        : flex;
        flex-wrap      : wrap;
        justify-content: center;

        .h5 {
            display           : inline-block;
            min-height        : 3.5rem;
            text-overflow     : ellipsis;
            -webkit-line-clamp: 2;
            line-clamp        : 2;
            -webkit-box-orient: vertical;
        }

        .videobox {
            background-color: $color-light;
        }

        .li {
            width: 20rem;
            padding: 2%;
        }

        // @media screen and (min-width:768px) {
        //     .li {
        //         display: block;
        //         width  : 30%;
        //         padding: 1.5%;
        //     }
        // }

        // @media screen and (max-width:769px) {
        //     .li {
        //         display: block;
        //         width  : 46%;
        //         padding: 2%;
        //     }
        // }

        // @media screen and (max-width:576px) {
        //     .li {
        //         display: block;
        //         width  : 100%;
        //         padding: 2%;
        //     }
        // }
    }
}

.desc {
    display: block;
    padding: 2%;

    .head {
        color: $color-semi;
    }

    p {
        color: $color-gray;
    }

    .label {
        &::before {
            content: "#";
        }

        &::after {
            content: "#";
        }
    }
}